{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles ({{ LANGUAGE_CODE }})</title>
</head>
<body>
    <h1>Articles</h1>
    <small>Language: {{ LANGUAGE_CODE }}</small>
    <ul>
        {% for article in object_list %}
            <li>
                {{ article.label|default:"<h1>Translation missing</h1>" }}
            </li>
        {% endfor %}
    </ul>
    <section>
        <h2>Set Language</h2>
        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Go">
        </form>
    </section>
</body>
</html>